include layout/head/head
include layout/header/header
include layout/footer/footer

include components/hero/hero
include components/hero/hero-no-slider
include components/logo-block/logo-block
include components/callback/callback
include components/blue-eq/blue-eq
include components/brands-block/brands-block
include components/gajets-block/gajets-block
include components/callback-block/callback-block

include pages/main/main
include pages/brands/brands
include pages/gadjets/gadjets
include pages/contacts/contacts
include pages/one-brand/acer
include pages/brand-device/brand-device
include pages/device-repair/note-repair
include pages/device-repair/phone-repair
include pages/device-repair/tablet-repair
