mixin gajets-block()
  +b.SECTION.gajets-block
    +e.DIV.title.title
      span Устройства
    +e.DIV.container
      +e.A.item(href="#")
        +e.IMG.img(src="img/phone.png")
        +e.SPAN.text Смартфоны
      +e.A.item(href="#")
        +e.IMG.img(src="img/note.png")
        +e.SPAN.text Ноутбуки
      +e.A.item(href="brand-device.html")
        +e.IMG.img(src="img/tablet.png")
        +e.SPAN.text Планшеты
    +e.BUTTON.all.main-btn Все устройства