mixin brands-block()
    +b.SECTION.brands-block
        +e.DIV.title.title
            span Бренды
        +e.DIV.container
            +e.A.item(href="phone-repair.html")
                +e.SPAN.lil-sq
                +e.IMG.img(src="img/msi.png")
            +e.A.item(href="note-repair.html")
                +e.SPAN.lil-sq
                +e.IMG.img(src="img/lenovo.png")
            +e.A.item(href="tablet-repair.html")
                +e.SPAN.lil-sq
                +e.IMG.img(src="img/sony.png")
            +e.A.item(href="#")
                +e.SPAN.lil-sq
                +e.IMG.img(src="img/dell.png")
            +e.A.item(href="#")
                +e.SPAN.lil-sq
                +e.IMG.img(src="img/asus.png")
            +e.A.item(href="acer.html")
                +e.SPAN.lil-sq
                +e.IMG.img(src="img/acer.png")
        +e.BUTTON.all.main-btn Все бренды