mixin footer()
  +b.FOOTER.footer
    +header()
    +e.DIV.wrp
      +logo-block()
      +e.DIV.bottom
        +e.SPAN.bottom-item © 2017  Все права защищены.
        +e.SPAN.bottom-item г. Санкт-Петербург, ул. Садовая,д.3
        +e.A.bottom-item.footer__bottom-item_logo(href="#") Разработка сайта INDINS.RU

