mixin brand-device()
    +b.MAIN.brand-device
        +hero()
        +b.SECTION.box-content
            +e.DIV.title.title
                span Ремонт планшета Lenovo
            +e.DIV.wrp
                +e.DIV.info-block
                    +e.DIV.top-block
                        +e.DIV.img-block
                            +e.IMG.img(src="img/tablet.png")
                            +e.IMG.img(src="img/lenovo.png")
                        +e.DIV.text-block
                            +e.P.text
                                | Компания Lenovo производит множество различной электронной техники, как готовых устройств, так и комплектующих. В их число входят ноутбуки, телефоны и планшеты.
                                br
                                br
                                | По своему устройству планшет Lenovo представляет собой компактный стационарный компьютер. Он выполняет те же функции, основная разница заключается в размере различных деталей, схем и плат.
                                br
                                br
                                | Из-за того, что планшет представляет собой высокотехнологичное устройство, состоящее из множества хрупких деталей, он легко может прийти в негодность. Существуют самые частые поломки, при которых необходим ремонт планшета Lenovo:
                    +e.UL.list
                        +e.LI.item перегрев аккумулятора;
                        +e.LI.item механические повреждения дисплея различного происхождения: сколы, трещины, погнутости;
                        +e.LI.item некорректная работа устройств ввода: тачпада, клавиш;
                        +e.LI.item некорректная работа устройства зарядки;
                        +e.LI.item повреждения корпуса планшета;
                        +e.LI.item некорректное отображение изображения;
                        +e.LI.item различные программные сбои.
                    +e.DIV.bottom-block
                        +e.P.bottom-text
                            | Также часто при ремонте планшета Lenovo приходится заменять различные детали, например: дисплей, тачпад, кнопки, динамики, стекло, батарея, материнская плата.
                            br
                            br
                            | Чаще всего планшет Lenovo приходит в неисправность из-за неправильной эксплуатации устройства. К ним относятся беспрерывные зарядка и использование устройства, попытки самостоятельного ремонта планшета, использование планшета во влажной среде, подвергание экстремально высоким и низким температурам.
                            br
                            br
                            | Важно помнить, что планшет — хрупкое устройство, и необходимо аккуратно им пользоваться. Не переносите планшет в сумке с ключами, не используйте его под дождем. Также не рекомендуется длительное использование планшета под прямыми лучами солнца — из-за этого дисплей может прийти в неисправность.
                            br
                            br
                            | Если же уже получилось так, что Вы сломали свое устройство, мы готовы предоставить ремонт планшета Lenovo. В нашем сервисном центре «РемТех» сформирована команда мастеров, каждый из которых обладает высокой квалификацией, обширными знаниями и большим опытом работы.
                            br
                            br
                            | При диагностике и ремонтных работах мы используем профессиональное оборудование, а при замене деталей пользуемся исключительно оригинальными фирменными запчастями от производителя.
                            br
                            br
                            | Все это вместе дает высокий результат. Поэтому мы готовы дать Вам гарантию на произведенный ремонт планшета
        +b.SECTION.price
            +blue-eq()
            +e.DIV.title.title
                span Стоимость услуг
            +b.DIV.table-price
                +e.TABLE.table
                    +e.TR.row
                        +e.TH.cell Ремонтные услуги
                        +e.TH.cell Срок
                        +e.TH.cell Стоимость
                    +e.TR.row
                        +e.TD.cell Диагностика
                        +e.TD.cell 30 мин – 1 ч 30 мин
                        +e.TD.cell 500 – 1100 ₽
                    +e.TR.row
                        +e.TD.cell Замена тачскрина
                        +e.TD.cell 30 мин – 1 ч 30 мин
                        +e.TD.cell 500 – 1100 ₽
                    +e.TR.row
                        +e.TD.cell Замена корпуса
                        +e.TD.cell 30 мин – 1 ч 30 мин
                        +e.TD.cell 500 – 1100 ₽
                    +e.TR.row
                        +e.TD.cell Замена полифонического динамика
                        +e.TD.cell 30 мин – 1 ч 30 мин
                        +e.TD.cell 500 – 1100 ₽
                    +e.TR.row
                        +e.TD.cell Замена слухового динамика
                        +e.TD.cell 30 мин – 1 ч 30 мин
                        +e.TD.cell 500 – 1100 ₽
                    +e.TR.row
                        +e.TD.cell Замена микрофона
                        +e.TD.cell 1 ч – 1 ч 30 мин
                        +e.TD.cell 500 – 1100 ₽
                    +e.TR.row
                        +e.TD.cell Замена аккумулятора
                        +e.TD.cell 30 мин – 1 ч 30 мин
                        +e.TD.cell 800 – 1350 ₽
                    +e.TR.row
                        +e.TD.cell Замена микросхем телефона
                        +e.TD.cell 1 ч – 1 ч 30 мин
                        +e.TD.cell 500 – 1100 ₽
                    +e.TR.row
                        +e.TD.cell Замена тачскрина
                        +e.TD.cell 30 мин – 1 ч 30 мин
                        +e.TD.cell 500 – 1100 ₽
                    +e.TR.row
                        +e.TD.cell Замена корпуса
                        +e.TD.cell 30 мин – 1 ч 30 мин
                        +e.TD.cell 500 – 1100 ₽
                    +e.TR.row
                        +e.TD.cell Замена полифонического динамика
                        +e.TD.cell 30 мин – 1 ч 30 мин
                        +e.TD.cell 500 – 1100 ₽
                    +e.TR.row
                        +e.TD.cell Замена слухового динамика
                        +e.TD.cell 30 мин – 1 ч 30 мин
                        +e.TD.cell 500 – 1100 ₽
                    +e.TR.row
                        +e.TD.cell Замена микрофона
                        +e.TD.cell 1 ч – 1 ч 30 мин
                        +e.TD.cell 500 – 1100 ₽
                    +e.TR.row
                        +e.TD.cell Замена аккумулятора
                        +e.TD.cell 30 мин – 1 ч 30 мин
                        +e.TD.cell 800 – 1350 ₽
                    +e.TR.row
                        +e.TD.cell Замена микросхем телефона
                        +e.TD.cell 1 ч – 1 ч 30 мин
                        +e.TD.cell 500 – 1100 ₽
        +b.SECTION.callback-block(style="background-image: url(img/fix-bg.jpg);")
            +e.DIV.container
                +e.DIV.box
                    +callback()
            +b.DIV.footer-eq
                +e.SPAN.eq-img(style="background-image: url(img/eq-light1.png);")