mixin header()
  +b.DIV.header
    +e.DIV.wrp
      +e.DIV.socials-block
        +e.UL.socials-list
          +e.LI.item
            +e.A.link(href="#")
              +e.I.icon.fa.fa-vk
          +e.LI.item
            +e.A.link(href="#")
              +e.I.icon.fa.fa-facebook
          +e.LI.item
            +e.A.link(href="#")
              +e.I.icon.fa.fa-twitter
          +e.LI.item
            +e.A.link(href="#")
              +e.I.icon.fa.fa-instagram
          +e.LI.item
            +e.A.link(href="#")
              +e.I.icon.fa.fa-youtube-play
      +e.DIV.phone-block
        +e.A.phone-link(href="tel: +78122345173") +7(812)-23-45-173
