mixin callback-block()
  +b.SECTION.callback-block(style="background-image: url(img/main-bg.jpg);")
    +e.DIV.container
      +e.DIV.box
        +callback()
    +b.DIV.footer-eq
      +e.SPAN.eq-img(style="background-image: url(img/eq-light1.png);")
